.home {
    background-image: url(../img/mehdi-bg.jpeg)
}

.language-en {
    color: white;
    padding-right: 10px;
}

.separator {
    color: white;
    border-right: 2px solid;
}

.language-fr {
    color: white;
    padding-left: 10px;
}

.hovered {
    color: #0078ff
}

.socials {
    padding: 0;
}

.socials ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mail-to {
    color: currentColor;
}

.semarchy-link {
    cursor: pointer;
}

.osgi-icon {
    height: 25px;
    vertical-align: sub;
}

.section-counter {
    background-image: url(  ../img/counters-bg.jpg);
}

.bi-center {
    vertical-align: sub;
}
